<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984797892872-urjf993jgudbcv6gptrgtsgshgqsdbrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984797892872-urjf993jgudbcv6gptrgtsgshgqsdbrf</string>
	<key>API_KEY</key>
	<string>AIzaSyBRB1I0Flk1Zr5GhOzgbQqvmKtThdwiDsE</string>
	<key>GCM_SENDER_ID</key>
	<string>984797892872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatNearBy</string>
	<key>PROJECT_ID</key>
	<string>chat-near-by</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-near-by.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984797892872:ios:111152473e0f7416251cbd</string>
</dict>
</plist>